/home/radames/gits/dw1/02_bimestre/2025-05-29 - pitagoras cliente-server/node_modules
/home/radames/gits/dw1/02_bimestre/2025-06-11-loginClientServer/node_modules
/home/radames/gits/dw1/03_bimestre/exemploRotas/node_modules
