<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página 1</title>
</head>
<body>
    <h1>Essa é a página 1</h1>
    <h2>rota raiz  /</h2>
    <p>no server é /pagina1 <br>
        no pagina1Routers.js é router.get('/', controller.mostrarPagina); //rota raiz para Página 1 <br>
                router.get('/vermelha', controller.paginaVermelha);<br>
        no controller.js é exports.mostrarPagina = (req, res) => {}<br>
    </p>
</body>
</html>